
:root {
    --spacer: 1rem;
}

.max-vh-50 {
    max-height: 50vh;
}

.min-vh-50 {
    min-height: 50vh;
}

.max-vh-75 {
    max-height: 75vh;
}

.min-vh-75 {
    min-height: 75vh;
}

.contain {
    /* Image is scaled to fit within the container. */
    /* Aspect ratio IS maintained */
    object-fit: contain;
}

.container-v-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-v-flex {
    flex-grow: 1;
}

.btn-trail {
    margin: var(--spacer);
    color: #ccc;
}

    .btn-trail > .card-img-overlay {
        background-color: #0000009a;
    }


    .btn-check:checked + .btn-trail,
    .btn-trail.active,
    .btn-trail.show,
    .btn-trail:first-child:active,
    :not(.btn-check) + .btn-trail:active {
        color: #fff;
    }

        .btn-check:checked + .btn-trail > .card-img-overlay,
        .btn-trail.active > .card-img-overlay,
        .btn-trail.show > .card-img-overlay,
        .btn-trail:first-child:active > .card-img-overlay,
        :not(.btn-check) + .btn-trail:active > .card-img-overlay {
            background-color: #08429880;
        }


#map {
    /* configure the size of the map */
    width: 100%;
    /*    height: 80vh;
*/
}
